*{
    box-sizing: border-box;
}

header, footer {
    background: linear-gradient(to right, orange, yellow);
    color: white;
    padding: 15px;
    text-align: center;
    
}

h1{
    font-size: 30px;
    text-shadow: 2px 2px red;
}

h2{
    text-shadow: 2px 2px orange;
    text-align: left;
}


article{
    margin: 25px;
    padding: 50px;
}


body {
    margin: 0;
    font-family: 'Exo', sans-serif;
}   


nav {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    overflow: hidden;
    background-color: white;
    padding: 20px;
}


section{
    padding: 5px 50px;
    font-family: cursive;
    
}

img {
    width: 150px;
    height: 150px;
    float: center;
}

