    

.header, .footer {
    background-color: cyan;
    color: blueviolet;
    padding: 15px;
}

.column {
    float: left;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    max-width:  width: 75%;
    font-family: 'Dosis', sans-serif;
}
.content {
    width: 75%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: greenyellow;
    color: white;
}
.menu li:hover {
    background-color: red;
}


img {
    float: left;
}

#col1 {
  height: 100%;
    width: 100%;
  column-count: 3;
  column-count: 3;
        font-family: 'Montserrat', sans-serif;


   
}

#col1 img {
    float: right;
    
}
